/* global.scss */
@import 'variables';

$default-bg: $gray-000;

.font-fahkwang {
    font-family: 'Fahkwang', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: $default-bg;
    transition: background-color 1s ease-in;

    &.photography-page {
        background-color: $secondary-light;
    }

    &.about-page {
        background-color: $primary-light;
    }
}